* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", Tahoma, sans-serif;
}

body {
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

nav .cart-icon {
    position: relative;
    /* display: flex; */
    font-size: 25px;
    cursor: pointer;
    color: black;
}

nav .cart-icon .cart-item-count {
    position: absolute;
    top: -10px;
    right: -8px;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 12px;
    color: white;
    display: none;
    transition: 0.8s;
}


/* #cart-icon {
    position: relative;
    display: flex;
    font-size: 25px;
    cursor: pointer;
} */

/* #cart-icon .cart-item-count {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    background: rgb(255, 146, 50);
    border-radius: 50%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
} */

.product-collection {
    padding: 90px 9% 30px;
}

.product-collection h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

/* .shop {
    padding: 90px 9% 30px;
} */

.product-collection .product-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   gap: 30px;
}

.product-collection .img-box {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.img-box img {
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.product-collection .img-box:hover img {
    transform: scale(1.1);
}

.product-collection .title {
    font-weight: 400;
    font-size: 18px;
    margin-top: 9px;
}

.product-collection .price {
    display: block;
    font-weight: bold;
    margin-top: 8px;
}

.product-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 130px 10% 30px;
}

.product-details .product-img {
    /* display: grid;
    grid-template-columns: 1fr; */
    /* gap: 13px; */
    height: 450px;
}

.product-details .product-img .main-img img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.product-details .title {
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
}

.product-details .price {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}

.product-details .description {
    line-height: 1.8;
    color: rgb(50, 50, 50);
}

.btn {
    padding: 12px 50px;
    background: #222;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
}

/* .product-details .product-policy {
    border-top: 1px solid #ccc;
    padding-top: 8px;
} */

/* .product-details .product-policy p {
    margin: 3px 0;
} */

.cart-page {
    padding: 110px 9% 30px;
}

.cart-page .cart-header {
    display: flex;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.cart-page .cart-header span {
    flex: 1;
    /* background-color: rgb(142, 255, 142); */
}

.cart-page .cart-header span:first-child {
    flex: 2;
    text-align: left;
    font-size: 20px;
}

.cart-page .cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-page .product {
    display: flex;
    align-items: center;
    flex: 2;
    /* background-color: red; */
}

.cart-page .cart-item img {
    width: 100px;
    margin-right: 15px;
}

.cart-page .cart-item :is(.price, .quantity, .total-price) {
       /* background-color: rgb(176, 176, 255); */
    flex: 1.5;
    text-align: center;
}

.cart-page .cart-item .quantity input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.cart-page .remove {
    background: transparent;
    border: none;
    flex: 1;
}

.cart-page .remove i {
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.cart-page .cart-total {
    width: 40%;
    margin: 50px 0 0 auto;
}

.cart-total h3 {
    margin-bottom: 12px;
}

.cart-total p {
    display: flex;
    justify-content: space-between;
}

.cart-total p span {
    text-align: right;
}

.cart-total p:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.cart-total .checkout-btn {
    display: block;
    padding: 12px 30px;
    margin: 30px 0 0 auto;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.cart-total .checkout-btn a {
    color: white;
    text-decoration: none;
}
.section-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
}


/* 
.product-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.product-box .img-box {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
} */

/* .img-box img {
    width: 100%;
    transition: 0.5s;
} */

/* .product-box .product-title {
    font-size: 20px;
    margin-top: 10px;
}

.product-title-little-text {
    color: rgb(82, 82, 82);
} */

.product-box .price-and-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-and-cart .price {
    font-size: 18px;
    font-weight: 700;
}

.price-and-cart .add-cart {
    padding: 10px;
    color: #fff;
    background-color: rgb(255, 146, 50);
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background-color: #fff;
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
    box-shadow: -2px 0 1px rgba(0,0,0,0.1);
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 30px;
}

.cart-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cart-box img {
    width: 110px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-detail {
    display: grid;
    gap: 8px;
    margin-right: auto;
}

.cart-product-title {
    font-size: 16px;
    line-height: 1;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 8px;
}

.cart-quantity button {
    background: transparent;
    width: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.cart-quantity #decrement {
    color: #999;
}

.cart-quantity .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: default;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.cart-remove {
    font-size: 18px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid darkgrey;
    margin-top: 20px;
    font-size: 18px;
}

.total-price {
    margin-left: 10px;
    font-weight: 600;
}

.btn-buy {
    display: block;
    padding: 10px 30px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    color: white;
    margin: 20px auto 0;
    cursor: pointer;
}

#cart-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}


