@media only screen and (max-width: 1000px) {

    .product-details {
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-details .product-img .main-img img {
        width: 400px;
        margin: 0 auto;
    }

    /* form {
        background-color: rgb(102, 102, 102);
    } */

    .checkout-page {
    flex-direction: column-reverse;
    }

    #checkout-page-shoppingcart-details {
        width: 100%;
    }

    #checkout-page-customer-details {
        margin: 0 auto;
        width: 90%;
    }
}