@media only screen and (max-width: 1000px) {

    .product-details {
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-details .product-img .main-img img {
        width: 400px;
        margin: 0 auto;
    }
    
    .checkout-page {
    flex-direction: column-reverse;
    }

    #checkout-page-shoppingcart-details {
        padding: 30px 0;
    }


    #checkout-page-shoppingcart-details {
        width: 100%;
    }

    #checkout-page-customer-details {
        margin: 0 auto;
        width: 90%;
    }

    #payment-form {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    footer {
    flex-direction: column;
    gap: 20px;
    }
}

@media only screen and (max-width: 700px) {

    .cart-item {
        font-size: 0.8em;
    }

    .cart-page .cart-total {
        width: 100%;
        margin: 50px 0 0 0;
    }

    .checkout-page-contact {
        padding: 0 20px;
    }

    .checkout-page-shipping {
        padding: 0 20px 20px 0;
        
    }

}